# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Django static and media files
static/
staticfiles/

# Ignore virtual environment
venv/
.env/
.venv/

# Ignore database files (if any)
*.sqlite3

# Ignore Django migrations (you may want to keep migration files but not the __pycache__ or other artifacts)
*/migrations/*
!*/migrations/__init__.py

# Ignore IDE and OS specific files
.DS_Store
.idea/
.vscode/
